<!DOCTYPE HTML>
<html >
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div> <a href= "/menuMoyennes" >Afficher les moyennes de chaque classe</a><p>
    <a href= "/menuClasse" >Afficher le détail d'une classe</a><p>
    <a href= "/menuEtudiant" >Afficher tous les étudiants</a><p>
    <a href= "/menuDetailEtudiant" >Afficher le détail d'un étudiant</a><p>
    <a href= "/menuProf" >Afficher tous les professeurs</a><p>
    <a href= "/Quitter" >Quitter</a>
</div>
   
</body>
</html>